extends layout

block content
  h1 Board Games Home

  if trendingGames && trendingGames.length
    h2 Trending Board Games
    ul
      each game in trendingGames
        li
          a(href=`/games/${game.Id_game}`) #{game.Name_game}

  if searchResults
    h2 Search Results
    ul
      each game in searchResults
        li
          a(href=`/games/${game.Id_game}`) #{game.Name_game}
